# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/

# Ignore files build by ndk and eclipse
Oppai/frameworks/runtime-src/proj.android/libs/
Oppai/frameworks/runtime-src/proj.android/bin/
Oppai/frameworks/runtime-src/proj.android/obj/
Oppai/frameworks/runtime-src/proj.android/gen/
Oppai/frameworks/runtime-src/proj.android/assets/
Oppai/frameworks/runtime-src/proj.android/local.properties

# Ignore file build by Cococs Code IDE
Oppai/frameworks/runtime-src/proj.ios_mac/build

Oppai/publish
Oppai/runtime
