<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg/sky.jpg</key>
			<dict>
				<key>width</key>
				<integer>1193</integer>
				<key>height</key>
				<integer>480</integer>
				<key>originalWidth</key>
				<integer>1193</integer>
				<key>originalHeight</key>
				<integer>480</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg/plane.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>1195</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg/far.png</key>
			<dict>
				<key>width</key>
				<integer>1250</integer>
				<key>height</key>
				<integer>457</integer>
				<key>originalWidth</key>
				<integer>1250</integer>
				<key>originalHeight</key>
				<integer>457</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>482</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg/mid_3.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>223</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>1252</integer>
				<key>y</key>
				<integer>482</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg/mid_4.png</key>
			<dict>
				<key>width</key>
				<integer>299</integer>
				<key>height</key>
				<integer>407</integer>
				<key>originalWidth</key>
				<integer>299</integer>
				<key>originalHeight</key>
				<integer>407</integer>
				<key>x</key>
				<integer>1477</integer>
				<key>y</key>
				<integer>482</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg/mid_1.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1778</integer>
				<key>y</key>
				<integer>482</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg/near_1.png</key>
			<dict>
				<key>width</key>
				<integer>1730</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>1730</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>941</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_ui0.png</string>
			<key>realTextureFileName</key>
			<string>bg_ui0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>